body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

.container {
    background: white;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

button {
    padding: 10px;
    margin: 5px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    opacity: 0.9;
}

.reset {
    background: red;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    background: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

input {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}